<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ניהול משימות</title>

    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="nav-container">
            <a href="{% url 'home' %}" class="nav-logo">ניהול משימות</a>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">בית</a></li>

<!--                {% if user.is_authenticated %}-->
                    <li><a href="home.html">המשימות שלי</a></li>
                    <li><a href="home.html">הוספת משימה +</a></li>
                    <li><a href="home.html">פרופיל ({{ user.username }})</a></li>
                    <li><a href="home.html">התנתקות</a></li>
<!--                {% else %}-->
                    <li><a href="home.html">התחברות</a></li>
                    <li><a href="{% url 'register' %}">הרשמה</a></li>
<!--                {% endif %}-->
            </ul>
        </div>
    </nav>

    <!-- Content Area -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
