{% extends 'base.html' %}
{% load static %}
{% block content %}

<form method="post" class="register-form">

{% csrf_token %}

<div>

{{ user_form.username.label_tag }} {{ user_form.username }}

</div>

<div>

{{ user_form.password1.label_tag }} {{ user_form.password1 }}

</div>

<div>

{{ user_form.password2.label_tag }} {{ user_form.password2 }}

</div>

<div>

{{ person_form.team.label_tag }} {{ person_form.team }}

</div>

<div>

{{ person_form.role.label_tag }} {{ person_form.role }}

</div>

<button type="submit">Register</button> <!-- לחצן שליחה -->

</form>
{% endblock %}